#red-ui-header {
    background-color: #78bd8f;
    color: #fff;
}

#red-ui-header .button {
    color: #fff;
    border-left: 2px solid #78bd8f;
    border-right: 2px solid #78bd8f;
}

#red-ui-header .button:hover {
    border-color: #78bd8f;
}